<% stories.forEach((story)=> { %>
  <% if (!story.completed) { %>
    <div class="story_block">
      <div class="story_block_header">
        <h4 class="heading">
          <%= story.title %>
        </h4>
        <div class="story_created_by">
          <div class="contributor"></div>
          <div>
            <%= story.name %>
          </div>
        </div>
      </div>
      <div class="story_snippet_wrapper">
        <p class="snipped_paragraph">
          <%= story.content %>
        </p>
      </div>
      <a href="/stories/<%= story.id %>" class="button">Contribute</a>
    </div>
    <% } %>
      <% }); %>