<section class="nav">
  <div class="nav_logo_wrapper">
    <h1 class="nav_logo_text">Story Creator</h1>
  </div>
  <div class="nav_links_wrapper">
    <a href="index.html" aria-current="page" class="nav_link w--current">explore</a>
    <a href="my-stories.html" class="nav_link">my stories</a>
    <a href="/stories/create" class="nav_button w-button">create</a>
  </div>
</section>