<nav class="nav">
  <div class="nav_logo_wrapper">
    <h1 class="nav_logo_text">Story Creator</h1>
    <span class="material-symbols-outlined">
      auto_stories
    </span>
  </div>
  <div class="nav_links_wrapper">

    <div class="dropdown">

      <button class="dropdown-btn" onclick="toggleDropdown()">
        <span class="material-symbols-outlined">person</span>
      </button>

      <span class="user_name">
        <%= username %>
      </span>

      <div class="dropdown-content">

        <div class="login_form_wrapper">
          <form action="/login" method="POST" id="loginForm">
            <input class="user_input" type="text" name="username" placeholder="Username" id="usernameInput">
            <button class="user_submit" type="submit">Log in</button>
          </form>
        </div>

      </div>

    </div>

    <div class="vertical_divider"></div>
    <a href="/" class="nav_link">explore</a>
    <% if (typeof username !== 'undefined' && username) { %>
      <a href="/myStories" class="nav_link">my stories</a>
      <a href="/createStory" class="nav_button">create</a>
    <% } %>

  </div>
</nav>

<script>
  function toggleDropdown() {
    const dropdownContent = document.querySelector('.dropdown-content');
    dropdownContent.classList.toggle('show');
  }

  // Close dropdown
  window.onclick = function(event) {
    if (!event.target.matches('.dropdown-btn')) {
      var dropdowns = document.getElementsByClassName('dropdown-content');
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show') && !event.target.closest('.dropdown-content')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  };
</script>
