<nav class="nav">
  <div class="nav_logo_wrapper">
    <h1 class="nav_logo_text">Story Creator</h1>
    <span class="material-symbols-outlined">
      auto_stories
    </span>
  </div>
  <div class="nav_links_wrapper">
    <a href="/" class="nav_link">explore</a>
    <a href="/myStories" class="nav_link">my stories</a>
    <a href="/createStory" class="nav_button">create</a>
  </div>
</nav>