<!-- navigation buttons -->
<container class="quick_jump_wrapper">
  <div class="navigation_quick_jump">
    <button class="quick_jump_button" onclick="jumpToActive()">Active</button>
    <button class="quick_jump_button" onclick="jumpToCompleted()">Completed</button>
  </div>
</container>

<script>
  function jumpToActive() {
    document.getElementById('active_stories').scrollIntoView();
  }

  function jumpToCompleted() {
    document.getElementById('completed_stories').scrollIntoView();
  }
</script>
