<% var users=submissions.filter(function(submission) { return submission.accepted; }).map(function(submission) { return { name: submission.name, id: submission.users_id }; }); %>
<% var uniqueUsers=users.filter(function(user, index, self) { return index === self.findIndex((t) => (t.name === user.name && t.id === user.id)) }); %>

<% uniqueUsers.forEach(function(user) { %>
  <div class="story_contributors">
    <div class="contributor _<%= user.id %>"></div>
    <div>
      <%= user.name %>
    </div>
  </div>
<% }); %>