.button {
  width: auto;
  text-align: center;
  background-color: $button_color;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.button:hover {
  background-color: $accent_color;
}

.button.accept_action {
  background-color: #63bff8;
}

.button.accept_action:hover {
  background-color: #009dff;
}

.accept_button {
  width: auto;
  text-align: center;
  background-color: $button_color;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 400;
  border: none;
}

.accept_button:hover {
  background-color: $accent_color;
}

.mark_story_button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.material-symbols-outlined {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.quick_jump_wrapper {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 100px;
}

.navigation_quick_jump {
  position: sticky;
  top: 20px;
  z-index: 1000;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quick_jump_button {
  background-color: transparent;
  border-radius: 4px;
  padding: 6px 15px;
  color: white;
  text-decoration: none;
  border: 1px solid $button_color;
}

.quick_jump_button:hover {
  background-color: $accent_color;
  border: 1px solid $accent_color;
}