.button {
  width: auto;
  text-align: center;
  background-color: $button_color;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.button:hover {
  background-color: $accent_color;
}

.button.accept_action {
  background-color: #63bff8;
}

.button.accept_action:hover {
  background-color: #009dff;
}

.accept_button {
  width: auto;
  text-align: center;
  background-color: $button_color;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 400;
  border: none;
}

.accept_button:hover {
  background-color: $accent_color;
}

.mark_story_button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.material-symbols-outlined {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.triangle_holders {
  display: flex;
  width: 100%;
  transform: rotate(180deg);
}

.triangle_left {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 0 0 60px;
  border-color: transparent transparent transparent #333333d4;
  transform: rotate(0deg);
}

.triangle_right {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 6px 60px;
  border-color: transparent transparent #333333d4 transparent;
  transform: rotate(0deg);
}

.quick_jump_wrapper {
  opacity: 0;
  height: 175px;
  width: 120px;
  transform: translateY(-175px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  left: 15%;
  transition: opacity 0.3s ease-out, transform 0.5s cubic-bezier(0.57, 0, 0.34, 0.97);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.navigation_quick_jump {
  position: sticky;
  padding: 1rem;
  z-index: 1000;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
  height: 100%;
  background-color: #333333d4;
  color: white;
  box-shadow: -6px -7px 20px rgba(0, 0, 0, 0.2);
}

.quick_buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.quick_jump_button {
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
  padding: 6px 15px;
  color: white;
  text-decoration: none;
  border: 1px solid $button_color;
}

.quick_jump_button:hover {
  background-color: $accent_color;
  border: 1px solid $accent_color;
}