.contributor {
  width: 20px;
  height: 20px;
  background-color: #ff5656;
  border-radius: 20px;
  cursor: pointer;
}

.contributor._2 {
  background-color: #5680ff;
}

.contributor._3 {
  background-color: #ffc519;
}

.contributor._4 {
  background-color: #72c55b;
}

.contributor._5 {
  background-color: #b656ff;
}

.contributor.hero {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}