.contributor {
  width: 20px;
  height: 20px;
  background-color: #ff5656;
  border-radius: 20px;
  cursor: pointer;
}

.contributor._2 {
  background-color: #5680ff;
}

.contributor._3 {
  background-color: #ffc519;
}

.contributor._4 {
  background-color: #72c55b;
}

.contributor._5 {
  background-color: #b656ff;
}

.contributor._6 {
  background-color: #3d3c8b;
}

.contributor._7 {
  background-color: #38dfb5;
}

.contributor._8 {
  background-color: #ffffa0;
}

.contributor._9 {
  background-color: #ff8eb6;
}

.contributor._10 {
  background-color: #56e0ff;
}

.contributor.hero {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}