.submission {
  grid-row-gap: 10px;
  background-color: $block_color;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  display: flex;
}

.submission:hover {
  background-color: #e2e2e2;
}

.queue_title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  padding-left: 1rem;
  color: $block_color;
}

.submission_footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.submission_vote {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.submission_user {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  align-items: center;
  display: flex;
}

.submission_date {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.vote_count {
  width: 2ch;
  text-align: center;
}

.material-symbols-outlined {
  cursor: pointer;
}

.material-symbols-outlined:hover {
  color: $accent_color;
}